body {
  background: #fdc114;
  color: #FFF;
  font-family: 'VT323', sans-serif;
}

.wrapper {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
}

.roles {
    vertical-align: middle;
    overflow: hidden;
}

.roles div {
    transition: margin-top 1.5s ease-in-out;
}

.logo {
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  padding-bottom: 16px;
  background-size: 100px 82px;
}

footer {
  position: absolute;
  width: 100%;
}

.quote {
  text-align: center;
  margin: auto auto;
}

.icon{
  padding: 0;
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
}

.icons{
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .wrapper-size{
    margin-top: 300px;
    padding: 0px;
    width: 100%;
  }
  .roles-font-size{
    font-size: 32px;
    height: 35px;
  }
  .icon-size{
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
  } 
  .footer{
    bottom: 10px;
  }
  .quote-font-size{
    font-size: 18px;
  }
}
@media only screen and (min-width: 601px) {
  .wrapper-size{
    padding: 100px;
    width: 500px;
  }
  .icon-size{
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
  }
  .footer{
    bottom: 60px;
    height: 2rem;          /* Footer height */
  }
  .quote-font-size{
    font-size: 20px;
  }
  .roles-font-size{
    font-size: 40px;
    height: 45px;
  }
}